<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.willshawmedia.phonegap.NativeDialog"
    version="1">

    <name>NativeDialog</name>
    <description>Show an iOS action sheet or an Android Dialog</description>

    <js-module src="www/native-dialog.js" name="NativeDialog">
        <clobbers target="NativeDialog" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
          <feature name="NativeDialog">
            <param name="ios-package" value="NativeDialog"/>
          </feature>
        </config-file>

        <header-file src="src/ios/NativeDialog.h" />
        <source-file src="src/ios/NativeDialog.m" />
    </platform>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="NativeDialog">
                <param name="android-package" value="com.willshawmedia.phonegap.NativeDialog"/>
            </feature>
        </config-file>
        <source-file src="src/android/NativeDialog.java" target-dir="src/com/willshawmedia/phonegap" />      
    </platform>


</plugin>
